{% extends "base.html" %}
{% block title %}
  Home
{% endblock title %}

{% block content %}

<!-- Hero section start -->
 <section class="hero-section">
  <div class="container-fluid">
    <div class="row">
      <div class="">
        <img src="./static/images/Layer 2.png" class="d-none d-md-block  w-100 image-fluid hero-img" alt="...">
      </div>
      <div class="p-0 hero-desc">
        <h5 class="hero-text">"The #One Education and Career Counsellor in Nepal"</h5>
        <p class="hero-title">Where Dreams Take <br />Flight.</p>
      </div>
    </div>
  </div>
 </section>
<!-- Hero section end -->

 

{% endblock content %}