{% extends "base.html" %} {% block title %} Student Profile
{% endblock title %} {% block contents %}
<section class="p-5"></section>
<section class="p-2"></section>
<section class="starter-page-page pt-5">
  <main class="main">
    <!-- Page Title -->
    <div class="page-title">
      <nav class="breadcrumbs">
        <div class="container">
          <ol>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li class="current">{{request.user.username}}'s Profile</li>
          </ol>
        </div>
      </nav>
    </div><!-- End Page Title -->
  </main>
</section>
<section>
    <div class="container">
        <div class="row">
            <h1>{{request.user.first_name}} {{request.user.last_name}}</h1>
              <img src="{{data.profile_img.url}}" alt="Profile Img" class="img-fluid w-50 h-50">
        </div>
     </div>
</section>
{% endblock contents %}