{% extends "base.html" %} 
{% block title %} 
Student Profile
{% endblock title %} 

{% block contents %}
<main class="main">
      <!-- Page Title -->
    <div class="page-title light-background">
      <div class="container d-lg-flex justify-content-between align-items-center">
        <h1 class="mb-2 mb-lg-0">Profile</h1>
        <nav class="breadcrumbs">
          <ol>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li class="current">{{ request.user.first_name|capfirst }} {{ request.user.last_name|capfirst }},s Profile</li>
          </ol>
        </nav>
      </div>
    </div><!-- End Page Title -->

    <section class="student-profile">
      <div class="container p-0">
          <div class="profile-container">
              <div class="cover-photo">
                <img src="{{ data.cover_image.url }}" alt="" class="img-fluid">
              </div>
              <div class="profile-info">          
                  <div class="">
                      <img src="{{ data.profile_img.url }}" alt="" class="img-fluid profile-picture">
                  </div>
                  <div class="profile-details">
                    <h1 class="profile-name">{{ request.user.first_name|capfirst }} {{ request.user.last_name|capfirst }}</h1>
                  </div>
              </div>
          </div>
      </div>

      <div class="container mt-3 mx-auto">
        <div class="row">
          <div class="col-4">
            <div class="p-2">
              <h3 class="text-center mb-3">Personal Details:</h3>
              <ul class="list-group list-group-flush fs-5">
                <li class="list-group-item my-1">Date of Birth: {{ data.date_of_birth }}</li>
                <li class="list-group-item my-1">Address: {{ data.address }}</li>
                <li class="list-group-item my-1">Contact info: {{ data.phone_number }}</li>
                <li class="list-group-item my-1">Email address: {{ request.user.email }}</li>
              </ul>
            </div>
          </div>
          <div class="col-8">
            <div class="p-2">
              <h3 class="text-center mb-3">Education Details:</h3>
              <table class="table table-striped table-bordered">
                <thead class="p-1">
                  <tr class="text-center">
                    <th scope="col">S.n.</th>
                    <th scope="col">Education Level</th>
                    <th scope="col">Graduation Date</th>
                    <th scope="col">Obtained G.P.A./Percentage</th>
                    <th scope="col">Grade/Division</th>
                    <th scope="col">Action</th>
                  </tr>
                </thead>
                <tbody>
                 {% for item in education %}
                   <tr>
                    <th scope="col">{{ forloop.counter }}</th>
                    <td>{{ item.education_level }}</td>
                    <td>{{ item.passed_year }}</td>
                    <td>{{ item.gpa }}</td>
                    <td>{{ item.grade }}</td>
                    <td class="d-flex flex-row gap-1"><a href="{% url 'updateEducation' item.id %}" class="btn btn-sm btn-primary"><i class="fa-solid fa-pencil"></i></a> 
                      <form action="{% url 'deleteEducation' item.id %}" method="post">
                        {% csrf_token %}
                        <button class="btn btn-sm btn-danger" type="submit"><i class="fa-solid fa-delete-left"></i></button>
                      </form>
                    </td>
                   </tr>
                 {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>

    </section>
</main>
{% endblock contents %}