
.selection-card {
    box-sizing: border-box;
    width: 390px;
    height: 454px;
    background: rgba(217, 217, 217, 0.58);
    border: 1px solid white;
    box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);
    backdrop-filter: blur(6px);
    border-radius: 17px;
    text-align: center;
    cursor: pointer;
    transition: all 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    font-weight: bolder;
    color: black;
  }
  
.selection-card:hover {
    border: 1px solid black;
  }
  
.button-47 {
    align-items: center;
    background: #FFFFFF;
    border: 0 solid #E2E8F0;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    box-sizing: border-box;
    color: #1A202C;
    display: inline-flex;
    font-family: Inter, sans-serif;
    font-size: 1rem;
    font-weight: 700;
    height: 56px;
    justify-content: center;
    line-height: 24px;
    overflow-wrap: break-word;
    padding: 24px;
    text-decoration: none;
    width: 125px;
    border-radius: 8px;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.cross-mark{
    position: relative;
    left: 147px;
    padding: 0;
    top: -9px;
    text-decoration: none;
    color: black;
    font-size: 1.9rem;
}

.cross-mark:hover{
    font-size: 2.5rem;
    color: red;
}

.selection-icon{
    max-width: 100px;
    max-height: 100px;
}

.login-container {
    background-color: #1a202c;
    color: white;
    border-radius: 0.5rem;
    padding: 2rem;
    width: 20rem;
}
.form-control {
    color: #4a5568;
    border: 2px solid #4a5568;
}
.form-check-input:checked {
    background-color: #805ad5;
    border-color: #805ad5;
}
.btn-purple {
    background-color: #805ad5;
    color: white;
}
.btn-purple:hover {
    background-color: #6b46c1;
}
.social-icons a {
    color: white;
    font-size: 1.7rem;
}

.form-container {
    min-width: 27rem;
    margin: auto;
    padding: 2rem;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 2.5rem;
    color: #000;
    text-decoration: none;
}
.reg-input {
    border-radius: 50px;
}
.btn-primary {
    background-color: #008080;
    border-color: #008080;
    border-radius: 50px;
}
.btn-primary:hover {
    background-color: #006666;
    border-color: #006666;
}
.btn-outline-secondary {
    border-radius: 50px;
}
.text-primary {
    color: #008080 !important;
}