{% extends "reset.html" %}

{% block content %}
  
<section class="d-flex align-item-center justify-content-center form-section">
  <div class="form-containerch">
      <p class="title"> Reset Password</p>
      <a href="{% url 'home' %}" class="form-cross"><i class="fa-solid fa-xmark fs-2"></i></a>
      <form method="post" class="form" action="">
      {% csrf_token %} {{form}}
          <p class="page-link">
          </p>
          <button type="submit" class="form-btn"> Reset my Password</button>
        </form>
  </div>
</section>
{% endblock content %}
