{% extends "reset.html" %}
{% block content %}
<section class="d-flex align-item-center justify-content-center form-section">
  <div class="form-containerch">
      <p class="title"> Reset Password Confirm</p>
      <a href="{% url 'home' %}" class="form-cross"><i class="fa-solid fa-xmark fs-2"></i></a>
      <p class="text-left fst-italic fs-5">Your Password has been successfully Reset. Proceed to Login</p>
      <div class="d-flex align-item-center justify-content-center"><a href="{% url 'selection' %}" class="text-decoration-none fs-5"><button type="submit" class="form-btn">&nbsp; &nbsp; &nbsp; Sign In &nbsp; &nbsp; &nbsp; </button></a></div>
  </div>
</section>
{% endblock content %}
