{% extends "base.html" %}
{% block title %}
  Change Password
{% endblock title %}
{% block contents %}
    <!-- Page Title -->
    <div class="page-title light-background">
      <div class="container d-lg-flex justify-content-between align-items-center">
        <h1 class="mb-2 mb-lg-0">Chnage Password</h1>
        <nav class="breadcrumbs">
          <ol>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li class="current">Change Password</li>
          </ol>
        </nav>
      </div>
    </div><!-- End Page Title -->
<div class="container">
    <div class="custom-box">
        <h2 class="text-center mb-">Change Your Password</h2>
        {% if form.error %}
          <div class="alert alert-danger">{{ form.error }}</div>
        {% endif %}

        <form action="{% url 'changePasswordStudent' %}" method="post">
            {% csrf_token %}
            <div class="mb-3">
                <label for="old_password" class="form-label fs-5">Old Password</label>
                {{ form.old_password }}
            </div>
                <div class="mb-3">
                <label for="password1" class="form-label fs-5">New Password</label>
                {{ form.new_password1 }}
            </div>
                <div class="mb-3">
                <label for="password2" class="form-label fs-5">Confirm New Password</label>
                {{ form.new_password2 }}
            </div>
            <div class="mb-3 d-flex justify-content-center">
                <button class="btn btn-lg btn-dark text-light fs-4 rounded-3 px-3 py-2">Change Password</button>
            </div>
        </form>
    </div>
</div>

{% endblock contents %}
