{% extends "auth.html" %}

{% block title %}
  College Profile Setting
{% endblock title %}

{% block content %}
<div class="text-center pt-5 pb-2">
    <h1 class="text-decoration-underline">Update Your College Information</h1>
</div>
<section class="container-fluid pt-3 px-5 pb-5">
    <div class="contaier">
        <div class="row gap-4">
            <div class="col-md-3 col-11 align-items-center justify-content-center d-flex flex-column align-items-center gap-4 border border-dark border-2 p-3 rounded-3">
                <a href="{% url 'home' %}"><button class="btn btn-lg btn-warning rounded-3 border border-dark border-2"><i class="fa-solid fa-arrow-left"></i><span class="fs-4 text-bold">&nbsp;&nbsp;Go Back</span></button></a>
                <img src="{{college_data.college_profile_img.url}}" alt="Profile Picture" class="img-fluid w-75 h-75 img-thumbnail rounded border border-dark border-2">
            </div>
            <div class="col-md-8 col-11">
                <div class="row">
                    <form action="{% url 'collegeProfileUpdate' user.id %}" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{form.media}} <!-- This will include any css and js required for ckeditor or any widgets -->
                        {{form.as_p}}
                        <button type="submit" class="btn btn-lg btn-info">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}



