{% extends "auth.html" %}

{% block title %}
  College Profile Settings
{% endblock title %}

{% block content %}
<h1>College Profile settings | {{user.username}}</h1>
<section>
    <div class="container p-5">
        <div class="row">
            <form action="{% url 'collegeProfileUpdate' user.id %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
            
                {{form}}

                <input type="submit">
            </form>
        </div>
        <a href="{% url 'collegeLogout' %}"><button type="btn btn-primary btn-lg">Logout</button></a>
    </div>
</section>
{% endblock content %}
