{% extends "auth.html" %}
{% block title %}
   Selection
{% endblock title %}

{% block content %}
<section>
    <div class="container">
        <div class="row my-auto d-flex align-items-center justify-content-between p-5">
            <div class="col-12 col-md-6">
                <div class="d-flex flex-column selection-card gap-4">
                    <a class="cross-mark" href="{% url 'home' %}"><i class="fa-regular fa-circle-xmark"></i></a>
                    <img src="../static/img/student-icon.png" alt="Student Icon" class="selection-icon">
                    <h1>Log In as Student</h1>
                    <a href="{% url 'studentLogin' %}"><button class="button-47">Login</button></a>
                    <a href="{% url 'studentRegister' %}"><button class="button-47">Register</button></a>
                </div>
                </div>
               
            <div class="col-12 col-md-6">
                <div class="d-flex flex-column selection-card gap-4">
                    <a class="cross-mark" href="{% url 'home' %}"><i class="fa-regular fa-circle-xmark"></i></a>
                    <img src="../static/img/college.png" alt="College Icon" class="selection-icon">
                    <h1>Log In as College</h1>
                    <a href="{% url 'collegeLogin' %}"><button class="button-47">Login</button></a>
                    <a href="{% url 'collegeRegister' %}"><button class="button-47">Register</button></a>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}
