<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NestRise Hub | Student Registration</title>

    <!-- Favicon icon link -->
    <link rel="icon" type="images/png" href="../static/images/logo.png">

    <!-- Bootstrap cdn css link -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

    <!-- telephone cdn css link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/25.2.0/build/css/intlTelInput.min.css" integrity="sha512-X3pJz9m4oT4uHCYS6UjxVdWk1yxSJJIJOJMIkf7TjPpb1BzugjiFyHu7WsXQvMMMZTnGUA9Q/GyxxCWNDZpdHA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- custom css files link -->
    <link rel="stylesheet" href="../static/css/auth.css">

</head>
<body>
    <h1>Student Profile settings | {{user.username}}</h1>
    <section>
        <div class="container p-5">
            <div class="row">
                <form action="{% url 'studentProfileUpdate' user.id %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                
                    {{form}}

                    <input type="submit">
                </form>
            </div>
            <a href="{% url 'studentLogout' %}"><button type="btn btn-primary btn-lg">Logout</button></a>
        </div>
    </section>

    <!-- Bootstrap cdn js link -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

    <!-- tel input cdn js link -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/25.2.0/build/js/intlTelInput.min.js" integrity="sha512-H0skyHW3SNpqlUsVKCM9+5ufNLLipKqvFeGapbvGlgv9RV6KulEDsRNZ7wMV7R0Hs8nMxalbJAF+d+NmNdYVYA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <!-- custom js link -->
    <script src="../static/js/script.js"></script>
</body>
</html>