{% extends "auth.html" %}

{% block title %}
  Student Profile Setting
{% endblock title %}

{% block content %}
<div class="text-center pt-5 pb-2">
    <h1 class="text-decoration-underline">Update Your Profile Information</h1>
</div>
<section class="container-fluid pt-3 px-5 pb-5">
    <div class="contaier">
        <div class="row gap-4">
            <div class="col-md-3 col-11 align-items-center justify-content-center d-flex flex-column align-items-center gap-4 border border-dark border-2 p-3 rounded-3">
                <a href="{% url 'home' %}"><button class="btn btn-lg btn-warning rounded-3 border border-dark border-2"><i class="fa-solid fa-arrow-left"></i><span class="fs-4 text-bold">&nbsp;&nbsp;Go Back</span></button></a>
                <img src="{{student_data.profile_img.url}}" alt="Profile Picture" class="img-fluid w-75 h-75 img-thumbnail rounded border border-dark border-2">
            </div>
            <div class="col-md-8 col-11">
                <div class="row">
                    <form action="{% url 'studentProfileUpdate' user.id %}" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="{{form.profile_img.id_for_label}}" class="form-label">{{form.profile_img.label}}</label><br>
                            {{form.profile_img}}
                        </div>
                        <div class="mb-3">
                            <label for="{{form.date_of_birth.id_for_label}}" class="form-label">{{form.date_of_birth.label}}</label><br>
                            {{form.date_of_birth}}
                        </div>
                        <div class="mb-3">
                            <label for="{{form.gender.id_for_label}}" class="form-label">{{form.gender.label}}</label><br>
                            {{form.gender}}
                        </div>
                        <div class="mb-3">
                            <label for="{{form.phone_number.id_for_label}}" class="form-label">{{form.phone_number.label}}</label><br>
                            {{form.phone_number}}
                        </div>
                        <div class="mb-3">
                            <label for="{{form.address.id_for_label}}" class="form-label">{{form.address.label}}</label><br>
                            {{form.address}}
                        </div>
                        <div class="mb-3">
                            <label for="{{form.Ccover_image.id_for_label}}" class="form-label">{{form.cover_image.label}}</label><br>
                            {{form.cover_image}}
                        </div>
                        <button type="submit" class="btn btn-lg btn-info">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}
