<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="POST" action="{% url 'test' %}">
        {% csrf_token %}
        <label>Choose a category:</label>
        <select name="category_id" id="category_id" required>
            {% for category in categories %}
                <option value="{{category.id}}">{{category.name}}</option>
            {% endfor %}
            
        </select>
        <input type="submit">
    </form>
</body>
</html>